django>=5.2
djangorestframework>=3.17
psycopg2-binary>=2.9
langchain>=1.2
python-dotenv>=1.0
groq>=1.1
boto3>=1.42
django-storages>=1.14
python-magic-bin>=0.4
google-api-python-client>=2.194
django-redis>=6.0
redis>=7.4
weasyprint>=68.0
djangorestframework-simplejwt>=5.5
django-cors-headers>=4.9
